body{
    box-sizing: border-box;
}
#btn{
    width: 70px;
    height: 70px;
    border-radius:50%;
    background-color:skyblue;
    color:black;
    font-size: 40px;
    padding: 10px;
    margin:20px;
    margin-left: 45%;

}
#btn:hover{
    color:skyblue;
    background-color:black;
    transform: scale(1.1);
}
#canvas{
    margin-left: 14%;
    margin-top: 2%;
    background-color:rgb(65, 63, 63);
}
h2{
    font-size:50px;
    width:50%;
    margin: auto;
}